.back-link {
  display: inline-block;
  padding: 1rem 1.8rem;
  font-size: inherit;
  background-color: var(--primary);
  box-shadow: 0 1px 6px -1px rgba(0, 0, 0, .1);
  border-radius: 3px;
  cursor: pointer;

  &__icon {
    margin-right: .5rem;
  }
}

.main {
  padding: 3rem;
}

.detail {
  margin: 5rem 0;
  display: grid;
  gap: 3rem;

  &__body {
    margin: auto 0;
  }

  &__header {
    margin-bottom: 2rem;
  }

  &__img {
    margin: auto 0;
    border-radius: 3px;
    max-width: 100%;
    width: 100%;
    box-shadow: 0 1px 6px -1px rgba(0, 0, 0, .1);
  }

  &__list {
    margin-bottom: 4rem;
  }

  &__info {
    margin-bottom: 1rem;
    font-weight: 600;
  }
}

.b-country {
  &__header {
    font-size: 1.6rem
  }

  &__item {
    display: inline-block;
    font-size: inherit;
    padding: 1rem 1.8rem;
    margin: 0 1rem 1rem 0;
    box-shadow: 0 0 6px rgba(0, 0, 0, .2);
    border-radius: 3px;
  }
}