.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.6rem 3rem;
  background-color: var(--primary);
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, .1);

  &__header {
    margin-bottom: 0;
  }
}