@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,600,800&display=swap');


h1 {
  font-weight: 800;
  font-size: 2rem;
  line-height: 1.3;
  margin-bottom: 1.2rem;
}

h3 {
  font-weight: 600;
  line-height: 1.3;
  margin-bottom: 1.2rem;
}

p {
  margin-bottom: 1rem;
}

a {
  text-decoration: none;
  font-weight: 600;
  color: inherit;
}

ul {
  list-style: none;
}

span {
  font-weight: 300;
}

button,
select {
  font-size: inherit;
}